.settings/*
.classpath
.project
.gitignore

plugins/.project
plugins/build.*.properties
plugins/.ivy/cache/com.liferay-plugins-default.xml
plugins/portlets/ocms-portlet/docroot/WEB-INF/classes
*.class
*.sql
*.log
*.lck
lportal.properties
lportal.script
lportal.tmp
lportal.log
MANIFEST.MF
bundle/logs
bundle/tomcat-7.0.42/logs
bundle/tomcat-7.0.42/work
bundle/tomcat-7.0.42/temp