
<div class="row">

	<!-- general form elements -->
	<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(vevent);">&nbsp;Add New Event</button>


	<div class="col-md-12">
	 <div class="container">
				<div class="row cardContainer " >
					<div class="col-sm-10 ">
							<div class="panel-body">                                    
							<table class="table table-striped">
							<tr ng-show="events.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
							<tr ng-hide="events.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
							
							<tr><th>Sl No.</th><th>Name</th><th>Course</th><th>Location</th><th></th></tr>
						
							<tr ng-repeat="vevent in events | filter:filterProduct | orderBy:'-eventId'" id="{{vevent.eventId}}" animate-on-change='vevent.eventName + vevent.eventId' ng-animate=" 'animate'">
								<td>{{$index + 1}}</td><td>{{vevent.eventName}}</td><td>{{vevent.courseCode}}</td><td>{{vevent.locationCode}}</td>
								
								<td style="width:100px">
									<div class="btn-group">
									  <button type="button" class="btn btn-default fa fa-edit" ng-click="open(vevent);"></button>
									  <button type="button" class="btn btn-danger fa fa-trash-o" ng-really-message="Do you want to delete this event?" ng-really-click="deleteEvent(vevent);"></button>
									</div>
								</td>
							</tr>
							</table>  
							</div> 
					</div>
				</div>
				
			</div>   
		</div>                           
</div>                     