					<div class="row">
                        
						<!-- general form elements -->
						<a href="#/createcourseseries">
                            <button type="button" class="btn btn-danger fa fa-plus" >&nbsp;Create Course Series</button>
						</a> <button type="button" class="btn btn-success fa fa-plus" ng-show="codeList.length>0" ng-click="createEventList();" >&nbsp;Create Events</button>
                        <div class="col-md-12">
                       	 <div class="container">
                                    <div class="row cardContainer " >
                                        <div class="col-sm-10 ">
                                                <div class="panel-body">                                    
                                                <table class="table table-striped">
                                                <tr ng-show="cseries.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
                                                <tr ng-hide="cseries.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
                                                
                                                <tr><th>Sl No.</th><th>Course Series Name</th><th>Select</th><th></th><!--<th>Location</th><th>Course</th><th>Date</th><th></th> --></tr>
                                            
                                                <tr ng-repeat="vcseries in cseries | filter:filterProduct | orderBy:'-courseSeriesId'" id ={{vcseries.courseSeriesCode}} ng-switch="vcseries.flagToChkEventCreation" >
                                                    <td>{{$index + 1}}</td> <td>{{vcseries.courseSeriesCode}}</td><td>
														<div  ng-switch-when=0>
														<input type="checkbox" value="{{vcseries.courseSeriesCode}}" name="chkSeries[]" checkbox-series ng-model="vcseries.selected" />
														</div>
														<div  ng-switch-when=1>
														<input type="checkbox" value="{{vcseries.courseSeriesCode}}" name="chkSeries[]" checkbox-series ng-model="vcseries.selected" disabled />
														</div>
													</td>
                                                    <td style="width:100px">
                                                        <div class="btn-group">
                                                          <button type="button" class="btn btn-default fa fa-edit" ng-click="open(vcseries);"></button>
                                                          <button type="button" class="btn btn-danger fa fa-trash-o" ng-really-message="Do you want to delete this course series?" ng-really-click="deleteSeries(vcseries);"></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </table>  
                                                </div> 
                                        </div>
                                    </div>
                                    
                                </div>   
                        </div>                           
                      </div>                     